.test{
  align-items: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.pfp{
  width: 200px;
  border-radius: 200px;
}
.intro{
  background-color: blueviolet;
  color: aliceblue;
  margin-right: 50px;
  
}